body{
background:#f5f5f5;
}


.payment-header{
background-color: rgb(2, 90, 255);
color:white;
padding:15px;
font-weight:600;
}


.payment-box{
background:white;
border-radius:10px;
padding:30px;
box-shadow:0px 4px 20px rgba(0,0,0,0.08);
}

.method{
border:1px solid #e5e5e5;
border-radius:8px;
padding:12px;
text-align:center;
cursor:pointer;
transition:.2s;
}

.method:hover{
border-color:#f06c8e;
}

.method input{
display:none;
}

.method img{
height:35px;
object-fit:contain;
}

.form-control{
background:#f1f3f5;
border: 1px solid #cccccc98;
padding:6px;
}




.btn-donate:hover{
opacity:.9;
}
